.App {
  background-color: #ffffff;
  border: 1px solid #CBE8E2;
  border-radius: 15px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}
.link{
font-style: italic;
text-decoration: none;
color: #179479
}
.link:hover{
  color:black;
}